Repository uclgsr/hellobellohellobello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint-check, python-tests-fast, validate-configs

ktlint-check:
  name: Kotlin linting with ktlint
  entry: ./gradlew
  args:
  - :android_sensor_node:app:ktlintCheck
  - --console=plain
  - --build-cache
  language: system
  pass_filenames: false

python-tests-fast:
  name: Run fast Python unit tests
  entry: python
  args:
  - -m
  - pytest
  - pc_controller/tests/
  - -x
  - --tb=short
  - --timeout=30
  - -q
  - -k
  - not integration and not slow
  - -n
  - auto
  language: system
  pass_filenames: false

validate-configs:
  name: Validate project configuration files
  entry: python
  args:
  - scripts/validate_configs.py
  - --fast
  language: system
  pass_filenames: false

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/gsr/ShimmerRecorder.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/gsr/ShimmerRecorder.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/network/NetworkClient.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/network/NetworkClient.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/Phase1MainActivity.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/Phase1MainActivity.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/StubSensorRecorder.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/StubSensorRecorder.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/thermal/ThermalCameraRecorder.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/thermal/ThermalCameraRecorder.kt
Due: ktlint-check

Update pc_controller/src/tools/comprehensive_system_validator.py
  pc_controller/src/tools/comprehensive_system_validator.py
Due: python-tests-fast

Update pc_controller/src/network/tcp_command_server.py
  pc_controller/src/network/tcp_command_server.py
Due: python-tests-fast

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/EnhancedMainActivity.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/EnhancedMainActivity.kt
Due: ktlint-check

Comment out all GitHub Actions workflows
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Delete .github/workflows directory
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/network/PCOrchestrationClient.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/network/PCOrchestrationClient.kt
Due: ktlint-check

Update documentation and formatting for clarity
  .gitignore
Due: none

Add Copilot workflow and update .gitignore
  .github/workflows/copilot.yml
  .gitignore
Due: none

Update copilot.yml
  .github/workflows/copilot.yml
Due: none

Add Copilot badge to README
  README.md
Due: none

Update pc_controller/src/gui/gui_manager.py
  pc_controller/src/gui/gui_manager.py
Due: python-tests-fast

Update demos/enhanced_features_demo.py
  demos/enhanced_features_demo.py
Due: none

Update pc_controller/src/core/local_interfaces.py
  pc_controller/src/core/local_interfaces.py
Due: python-tests-fast

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/fragments/RgbPreviewFragment.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/ui/fragments/RgbPreviewFragment.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/rgb/RgbCameraManager.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/rgb/RgbCameraManager.kt
Due: ktlint-check

Update android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/coordination/MultiModalSensorCoordinator.kt
  android_sensor_node/app/src/main/java/com/yourcompany/sensorspoke/sensors/coordination/MultiModalSensorCoordinator.kt
Due: ktlint-check

Update tools/validate_mermaid_charts.py
  tools/validate_mermaid_charts.py
Due: none

Update tools/generate_comprehensive_mermaid_charts.py
  tools/generate_comprehensive_mermaid_charts.py
Due: none

Update tools/generate_complete_visualization_suite.py
  tools/generate_complete_visualization_suite.py
Due: none

Path conditions:
  ktlint-check: any of: ^android_sensor_node/.*\.(kt|kts)$
  python-tests-fast: any of: ^pc_controller/.*\.py$ and \.py$
  validate-configs: any of: ^(pyproject\.toml|pytest\.ini|\.pre-commit-config\.yaml|.*requirements.*\.txt)$
